alembic==1.3.1
APScheduler==3.6.3
attrs==19.3.0
backcall==0.1.0
bcrypt==3.1.7
beautifulsoup4==4.8.1
blinker==1.4
boto==2.49.0
boto3==1.10.28
botocore==1.13.28
certifi==2019.11.28
cffi==1.13.2
chardet==3.0.4
Click==7.0
cloudpickle==1.2.2
cryptography==2.8
cssselect==1.1.0
cycler==0.10.0
Cython==0.29.14
dartsclone==0.6
decorator==4.4.1
Deprecated==1.2.7
docutils==0.15.2
dominate==2.4.0
environs==6.0.0
fasttext==0.9.1
feedfinder2==0.0.4
feedparser==5.2.1
Flask==1.1.1
Flask-Bcrypt==0.7.1
Flask-Bootstrap4==4.0.2
Flask-DebugToolbar==0.10.1
Flask-Login==0.4.1
Flask-Mail==0.9.1
Flask-Migrate==2.5.2
Flask-SQLAlchemy==2.4.1
Flask-WTF==0.14.2
future==0.18.2
gensim==3.8.1
hyperopt==0.2.2
idna==2.8
importlib-metadata==0.23
ipython==7.6.1
ipython-genutils==0.2.0
itsdangerous==1.1.0
jedi==0.15.1
jieba3k==0.35.1
Jinja2==2.10.3
jmespath==0.9.4
joblib==0.14.0
jwt==0.6.1
kiwisolver==1.1.0
kytea==0.1.4
langdetect==1.0.7
lxml==4.4.2
Mako==1.1.0
MarkupSafe==1.1.1
marshmallow==3.2.2
more-itertools==8.0.0
mpld3==0.3
natto-py==0.9.0
newspaper3k==0.2.8
nltk==3.4.5
packaging==19.2
parso==0.5.1
pexpect==4.7.0
pickleshare==0.7.5
Pillow==6.2.1
pluggy==0.13.1
prompt-toolkit==2.0.10
ptyprocess==0.6.0
py==1.8.0
pybind11==2.4.3
pycparser==2.19
Pygments==2.5.2
PyJWT==1.7.1
pymystem3==0.2.0
pyparsing==2.4.5
pytest==5.3.1
python-dateutil==2.8.1
python-dotenv==0.10.3
python-editor==1.0.4
python-slugify==3.0.2
pytorch-pretrained-bert==0.6.2
pytz==2019.3
PyYAML==5.1.2
redis==3.3.11
regex==2019.11.1
requests==2.21.0
requests-file==1.4.3
rq==1.1.0
s3transfer==0.2.1
sacremoses==0.0.35
segtok==1.5.7
sentencepiece==0.1.83
six==1.13.0
smart-open==1.9.0
sortedcontainers==2.1.0
soupsieve==1.9.5
SQLAlchemy==1.3.11
sqlitedict==1.6.0
SudachiPy==0.4.1
tabulate==0.8.6
text-unidecode==1.2
tiny-tokenizer==3.0.1
tinysegmenter==0.3
tldextract==2.2.2
traitlets==4.3.3
tzlocal==2.0.0
urllib3==1.24.3
validate-email==1.3
visitor==0.1.3
vk-api==11.6.1
wcwidth==0.1.7
Werkzeug==0.16.0
wrapt==1.11.2
WTForms==2.2.1
zipp==0.6.0